<config>    
    <modules>
        <Codewix_Tabs>
            <version>1.0.0.7</version>
        </Codewix_Tabs>
    </modules>
     <frontend>
        <routers>
            <tabs>
                <use>standard</use>
                <args>
                    <module>Codewix_Tabs</module>
                    <frontName>tabs</frontName>
                </args>
            </tabs>
        </routers> 
        <layout>
   			<updates>
        		<tabs>
             		<file>tabs.xml</file>
         		</tabs>
    		</updates>
		</layout> 
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <tabs_section>
                                            <title>Codewix Tabs Module Section</title>
                                        </tabs_section>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
     		<blocks>
         		<tabs>
              		<class>Codewix_Tabs_Block</class>
         		</tabs>
      		</blocks>
      		<helpers>
      			<tabs>
      				<class>Codewix_Tabs_Helper</class>
      			</tabs>
      		</helpers>
      		<models>
      			<tabs>
      				<class>Codewix_Tabs_Model</class>
      			</tabs>
      		</models>
    <!-- allow the plugin to read and write -->
			<resources>
				<tabs_setup>
					<setup>
						<module>Codewix_Tabs</module>
						<class>Codewix_Tabs_Model_Resource_Setup</class>
					</setup>
					<connection>
						  <use>core_setup</use>
					</connection>
				</tabs_setup>
		        <tabs_write>
		            <connection>
		                <use>core_write</use>
		            </connection>
		        </tabs_write>
		       <tabs_read>
		          <connection>
		             <use>core_read</use>
		          </connection>
		       </tabs_read>
			</resources>
	</global>
	<default>
    <tabs_section>
        <tabs_group>                
            <tabs_perpage>4</tabs_perpage>         
        </tabs_group>     
    </tabs_section>
</default>
</config>  
